<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Template</title>
</head>
<body>
    {% include "head/header.html" %}
    <h1>Primer Projecte - app Prova</h1>
    <h2>PRÀCTICA 16 - TEMPLATES I VIEWS</h2>
    <p>Bienvingut a la pagina inicial</p>

    {% block content %}

    {% endblock %}
<!--
    <p>Dades Professor</p>
    <div>
        <div>
            <label>Nom: </label> {{ nombre }}
        </div>
        <div>
            <label>Cognom: </label> {{ surname }}
        </div>
        <div>
            <label>Edat: </label> {{ age }}
        </div>
    </div>
    -->
</body>
</html>